<ion-header>
  <ion-toolbar>
    <ion-toolbar color="Dark"></ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
  <ion-card-header>
    <ion-card-title>What do you like for me to do in my Channel?</ion-card-title>
  </ion-card-header>
<ion-radio-group>
  <ion-item>
    <ion-label>Nightcore</ion-label>
    <ion-radio slot="start" value="Music"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Live Streaming</ion-label>
    <ion-radio slot="start" value="Stream"></ion-radio>
  </ion-item>
  </ion-radio-group>
</ion-card-content>

<ion-card-content>
  <ion-card-header>
    <ion-card-title>Contact</ion-card-title>
  </ion-card-header>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="confirm password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </ion-card-content>

  <ion-card-content>
  <ion-card-header>
    <ion-card-title>Address Information</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input type="address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Barangay</ion-label>
    <ion-input type="barangay"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input type="city"></ion-input>
  </ion-item>
</ion-card-content>
<ion-button size="full">Register</ion-button>
</ion-content>
