<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://yt3.ggpht.com/uv5xKmpSODBtbhYCgANkllgXKDktTBIsrvE0BhJ2FGV05jyiYnplJ1wbruOiwhqpzbGGuJK8Yw=s176-c-k-c0x00ffffff-no-rj">
        </ion-avatar>
        <ion-label>
          <h1>Laurence Angelo Julia</h1>
          <p>Creator of "Freaky Animation" or "FreAni"</p>
          <p>Subscribers: 484</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <h2>Top 6 Popular Videos</h2>
      </ion-item>
      <ion-item>
        <ion-label>TOP 1
          <h1>Nightcore - ABCDEFU</h1>
          <p>161K views</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>TOP 2
          <h1>Nightcore - Middle of the Night</h1>
          <p>61K views</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>TOP 3
          <h1>Nightcore - Anyone of us</h1>
          <p>9.2K views</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>TOP 4
          <h1>Nightcore - Dandelions</h1>
          <p>7.8K views</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>TOP 5
          <h1>Nightcore - Enemy</h1>
          <p>6.6K views</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>TOP 6
          <h1>Nightcore - Ruin My life</h1>
          <p>5.1K views</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
